.calculator {
    &-cate {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        line-height: 80px;
        font-size: $font-30;
        border-bottom: $border;
        background-color: $bg-color;

        .cate-item {
            padding: 0 30px;
            &.actived {
                color: $primary-color;
                border-bottom: 4px solid $primary-color;
            }
        }
    }

    &-content {
        .calc-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px;
            border-bottom: $border;
            .item-label {
                color: $desc-color;
            }
            .item-input {
                flex: 1;
                text-align: right;
                margin-right: 20px;

                .input-placeholder {
                    margin-right: 20px;
                    color: $desc-color;
                }
            }
            .item-unit {
                color: $text-color;
            }
            .item-icon {
                color: $desc-color;
            }
        }
        .calc-btn {
            padding: 30px;
        }
    }

    &-result {
        text-align: center;
        .result-cates {
            width: 400px;
            margin: 30px auto;
            .cates-tabs {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: $font-basic;
                border-radius: 25px;
                border: 2px solid $primary-color;
                padding: 2px;

                .tabs-item {
                    width: 200px;
                    height: 40px;
                    line-height: 40px;
                    color: $primary-color;
                    &.actived {
                        color: $white;
                        background-color: $primary-color;
                    }
                    &:first-child {
                        border-radius: 25px 0 0 25px;
                    }
                    &:last-child {
                        border-radius: 0 25px 25px 0;
                    }
                }
            }
            .cates-memo {
                font-size: $font-basic;
                margin-top: 20px;
                color: $desc-color;
            }
        }
        .result-content {
            .result-item {
                display: flex;
                align-items: center;
                width: 50%;
                margin: 0 auto;
                height: 50px;
                line-height: 50px;
                .value {
                    flex: 1;
                }
                .label {
                    font-size: $font-basic;
                    color: $text-color;
                }
                .unit {
                    font-size: $font-basic;
                    color: $desc-color;
                }
            }
        }
        .result-memo {
            font-size: $font-basic;
            margin: 20px;
            color: $desc-color;
        }
    }
}
