.chat-room {
    width: 100%;
    height: 100vh;
    background-color: $bg2-color;
    &-content {
        position: relative;
        .msg-box {
            width: 100%;
            .msg-item {
                padding: 30px 20px;
                .item-content {
                    display: flex;
                    align-items: center;
                    &.item-content-reverse {
                        flex-direction: row-reverse;
                    }
                    .photo {
                        width: 80px;
                        height: 80px;
                        background-color: $bg-color;
                        border-radius: 50%;
                        overflow: hidden;
    
                        Image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .message {
                        margin: 0 20px;
                        .text {
                            padding: 15px 30px;
                            border-radius: $border-radius-10;
                            background-color: $white;
                        }
                        .text-primary {
                            background-color: $primary-color;
                            color: $white;
                        }
                    }
                }
                .item-tip {
                    text-align: center;
                    margin-top: 30px;
                    .text {
                        padding: 6px 20px;
                        border-radius: $border-radius-10;
                        background: rgba($color: $black, $alpha: 0.2);
                        color: $white;
                    }
                }
            }
        }
    
        .send-box {
            position: fixed;
            bottom: 0;
            width: 100%;
            font-size: $font-basic;
            padding: 20px 0;
            background-color: $bg-color;
            z-index: 99;
            box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.08);
            .send-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                Input {
                    flex: 1;
                    height: 60px;
                    line-height: 60px;
                    border: $border;
                    border-radius: $border-radius-10;
                    margin-right: 20px;
                    padding: 0 20px;
                    background-color: $white;
                }
            }
            .btn {
                width: 100px;
                height: 60px;
            }
        }
    }
}
