.house {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: $white;

        .header-left {
            flex: 1;
            .title {
                .name {
                    font-size: $font-36;
                    font-weight: bold;
                    margin-right: 30px;
                    color: #333;
                }
                .status {
                    font-size: $font-26;
                    padding: 0 4px;
                }
            }
            .address {
                margin-top: 16px;
                .iconaddress {
                    margin-left: 30px;
                    color: $search-actived;
                }
            }
        }

        .header-right {
            .share {
                line-height: 1;
                background-color: $white;
                &::after {
                    border: none;
                }
                .iconshare {
                    font-size: $font-40;
                }

                .text {
                    font-size: $font-26;
                }
            }
        }
    }

    &-contact {
        padding: 30px;

        .contact-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
            background-image: linear-gradient(to right, #d9e7fc, #dff5db);

            .contact-icon {
                display: flex;
                width: 90px;
                height: 90px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $white;

                .iconcall {
                    font-size: 40px;
                    color: #11a43c;
                }
            }

            .phone-call {
                font-size: 36px;
                margin-bottom: 10px;
                color: #11a43c;
            }
            .phone-desc {
                font-size: 24px;
                color: #999;
            }
        }
    }

    &-activity {
        .activity-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 30px 30px 0 30px;
            padding: 40px;
            color: $pink;
            background-color: $bg-pink;
            border-radius: $border-radius-10;

            &.activity-item-primary {
                color: $primary-color;
                background-color: $primary-bg-color;
            }

            .desc {
                font-size: $font-24;
                margin-top: 10px;
            }
        }
    }

    &-item {
        background-color: $white;
        padding-bottom: 30px;

        &-header {
            display: flex;
            justify-content: space-between;
            height: 80px;
            line-height: 80px;
            border-bottom: $border;
            font-size: $font-34;
            padding: 0 30px;

            .more {
                font-size: $font-24;
                color: $desc-color;

                .iconfont {
                    margin-left: 10px;
                }
            }
        }

        &-content {
            padding: 30px 30px 0 30px;
            background-color: $white;
        }
    }

    &-type {
        &-content {
            width: 100%;
            white-space: nowrap;
            margin-top: 30px;
            padding-left: 30px;
        }
        .swiper-item {
            display: inline-block;
            width: 250px;
            height: 208px;
            margin-right: 30px;

            .item-image {
                width: 100%;
                height: 100%;
                background-color: $bg-color;
                Image {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .item-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: $font-26;
                margin-top: 10px;
                .price {
                    font-size: $font-basic;
                    margin-top: 5px;
                }
                .price-unit {
                    font-size: $font-26;
                }

                .tags-item {
                    margin: 0;
                }
            }
        }
    }

    &-comment {
        .comment-item {
            display: flex;
            font-size: $font-basic;
            margin-bottom: 20px;
            .user-photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $bg-color;

                Image {
                    width: 100%;
                    height: 100%;
                }
            }
            .comment-text {
                flex: 1;
                margin-left: 20px;
                color: $title-color;

                .name {
                    color: $desc-color;
                    height: 60px;
                    line-height: 60px;
                }

                .text {
                    margin-bottom: 8px;
                }

                .comment-image {
                    width: 180px;
                    height: 150px;
                    overflow: hidden;
                    margin: 16px 0;

                    Image {
                        width: 100%;
                        height: 100%;
                        border-radius: $border-radius-base;
                        background-color: $bg-color;
                    }
                }
                .comment-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $desc-color;
                    .actived {
                        color: $pink;
                    }
                }
            }
        }
    }

    &-question {
        .question-item {
            .question {
                display: flex;
                font-size: $font-basic;
                margin-bottom: 20px;
                color: $title-color;

                .iconfont {
                    font-size: $font-36;
                    margin-right: 20px;
                }

                .iconwen {
                    color: $search-actived;
                }
                .iconda {
                    color: $primary-color;
                }

                .text {
                    flex: 1;
                    &.da {
                        color: $desc-color;
                    }
                }
            }
        }
    }

    &-consultant {
        .house-consultant-content {
            .consultant-desc {
                font-size: $font-basic;
                padding: 30px 30px 0 30px;
                color: $desc-color;
            }
        }
        .consultant-scroll {
            white-space: nowrap;
            padding: 30px 0 30px 30px;
            background-color: $white;

            .consultant-item {
                display: inline-block;
                width: 28.2%;
                padding: 30px 0;
                margin-right: 30px;
                border-radius: $border-radius-10;
                color: rgb(131, 80, 55);
                background-color: rgb(246, 230, 215);
                .consultant-context {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .item-image {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: $bg-color;
                        Image {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .item-name {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: $font-basic;
                        margin: 20px 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    &-statement {
        .title {
            color: $text-color;
        }
        .house-item-content {
            font-size: $font-26;
            color: $desc-color;
        }
    }

    &-custom {
        background-color: $white;
        .subscrib {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            color: $text-color;

            &-item {
                flex: 1;
                padding: 20px 0;

                .iconfont {
                    margin-right: 10px;
                    color: $tip-color;
                }
            }
        }
    }
}

.info {
    font-size: $font-basic;
    &-item {
        display: flex;
        padding-top: 20px;
        line-height: 40px;

        .label {
            display: block;
            min-width: 60px;
            text-align: justify;
            margin-right: 20px;
            color: $desc-color;
        }
        .text {
            color: $title-color;
        }
    }
}
