.house {
    &-album {
        position: relative;

        Image {
            width: 100%;
            height: 480px;
        }

        .icon-vedio {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 120px;
            height: 120px;
            background-image: url("http://192.168.2.248/assets/icons/video.png");
            background-size: 120px 120px;
            background-repeat: no-repeat;
        }

        .album-count {
            position: absolute;
            right: 20px;
            bottom: 20px;
            font-size: 24px;
            padding: 8px 16px;
            border-radius: 15px;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: 0.6);
        }

        .album-text {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            color: #333;

            &-item {
                font-size: 24px;
                padding: 8px 16px;
                background-color: rgba($color: #ffffff, $alpha: 0.8);
                border-radius: 15px;
                margin: 0 10px;
            }

            &-actived {
                color: #fff;
                background-color: #11a43c;
            }
        }
    }

    &-header {
        padding: 30px;
        background-image: linear-gradient(to right, #d9e7fc, #dff5db);

        .name {
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 20px;
            font-weight: bold;
            color: #333;
        }

        .tags {
            margin-top: 16px;
        }
    }

    &-contact {
        display: flex;
        padding: 30px;
        .icontelephone-out {
            font-size: 86px;
            margin-right: 20px;
            color: #11a43c;
        }

        .phone-call {
            font-size: 36px;
            margin-bottom: 10px;
            color: #11a43c;
        }
        .phone-desc {
            font-size: 24px;
            color: #999;
        }
    }

    &-activity {
        .activity-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 30px 30px 0 30px;
            padding: 40px;
            color: $pink;
            background-color: $bg-pink;
            border-radius: $border-radius-10;

            .desc {
                font-size: $font-24;
                margin-top: 10px;
            }
        }
    }

    &-item {
        background-color: $white;
        padding-bottom: 30px;

        &-header {
            display: flex;
            justify-content: space-between;
            height: 80px;
            line-height: 80px;
            border-bottom: $border;
            font-size: $font-34;
            padding: 0 30px;

            .more {
                font-size: $font-24;
                color: $desc-color;

                .iconfont {
                    margin-left: 10px;
                }
            }
        }

        &-content {
            padding: 30px 30px 0 30px;
            background-color: $white;
        }
    }

    &-type {
        &-content {
            margin-top: 30px;
            padding-left: 30px;
        }
        .swiper-item {
            width: 88%;
            height: 65%;
            margin-right: 12%;

            .item-image {
                width: 100%;
                height: 100%;
                background-color: $bg-color;
                Image {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .item-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: $font-26;
                margin-top: 10px;
                .price {
                    font-size: $font-basic;
                    margin-top: 5px;
                }
                .price-unit {
                    font-size: $font-26;
                }

                .tags-item {
                    margin: 0;
                }
            }
        }
    }

    &-surround {
        .surround {
            padding-top: 30px;
            .surround-wrapper {
                border: 1px solid $bg-color;
            }
        }
    }

    &-comment {
        .comment-item {
            display: flex;
            font-size: $font-basic;
            margin-bottom: 20px;
            .user-photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $bg-color;

                Image {
                    width: 100%;
                    height: 100%;
                }
            }
            .comment-text {
                flex: 1;
                margin-left: 20px;
                color: $text-color;

                .name {
                    color: $desc-color;
                    height: 60px;
                    line-height: 60px;
                }

                .text {
                    margin-bottom: 8px;
                }
            }
        }
    }

    &-question {
        .question-item {
            .question {
                display: flex;
                font-size: $font-basic;
                margin-bottom: 20px;
                color: $text-color;

                .iconfont {
                    font-size: $font-36;
                    margin-right: 20px;
                }

                .iconwen {
                    color: $search-actived;
                }
                .iconda {
                    color: $primary-color;
                }

                .text {
                    flex: 1;
                    &.da {
                        color: $desc-color;
                    }
                }
            }
        }
    }

    &-consultant {
        &-content {
            padding: 30px 0 30px 30px;
            background-color: $white;
            .consultant-item {
                float: left;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 29%;
                padding: 30px 0;
                margin-right: 30px;
                border-radius: $border-radius-10;
                color: rgb(131, 80, 55);
                background-color: rgb(246, 230, 215);

                .item-image {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 20px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: $bg-color;
                    Image {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .item-name {
                    font-size: $font-basic;
                    margin-bottom: 20px;
                }
            }
        }
    }

    &-statement {
        .title {
            color: $text-color;
        }
        .house-item-content {
            font-size: $font-26;
            color: $desc-color;
        }
    }
}

.info {
    font-size: $font-basic;
    &-item {
        display: flex;
        padding-top: 30px;
        line-height: 40px;

        .label {
            display: block;
            min-width: 60px;
            text-align: justify;
            margin-right: 20px;
            color: $desc-color;
        }
        .text {
            color: $title-color;
        }
        .address {
            color: #8099af;
        }
        .iconaddress {
            display: block;
            width: 200px;
            color: $search-actived;
        }
    }

    .subscrib {
        display: flex;
        justify-content: space-between;
        color: $text-color;

        &-item {
            flex: 1;
            text-align: center;
            line-height: 80px;

            .iconfont {
                margin-right: 10px;
                color: $tip-color;
            }
        }
    }
}
