.news {
    &-cate {
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: $font-30;
        white-space: nowrap;
        border-bottom: $border;

        .news-cate-item {
            padding: 0 30px;
            display: inline-block;

            &.actived {
                color: $primary-color;
                border-bottom: 4px solid $primary-color;
            }
        }
    }
    &-content {
        .news-item {
            display: flex;
            padding: 30px;
            border-bottom: 2px solid $bg-color;

            .item-text {
                flex: 1;
                font-size: $font-32;
                .title {
                    font-weight: bold;
                    color: $title-color;
                }
                .date {
                    margin-left: 16px;
                }
            }
            .item-image {
                width: 200px;
                height: 150px;
                margin-left: 20px;
                background-color: $bg-color;

                Image {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}
