.sale {
    height: 100%;
    background-color: $bg-color;
    &-content {
        .required {
            color: $tip-color;
        }
        .sale-item {
            display: flex;
            align-items: center;
            font-size: $font-basic;
            padding: 20px 30px;
            background-color: $white;

            &.sale-item-auto {
                align-items: stretch;
            }

            .item-image {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: $font-basic;
                padding: 10px 0;

                .image-icon {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    background-color: $bg-color;
                    overflow: hidden;
                    
                    Image {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .iconfont {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 90px;
                        color: $dis-color;
                    }
                }

                .image-btn {
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    margin-top: 20px;
                }

                .image-desc {
                    margin-top: 15px;
                    font-size: $font-26;
                    color: $desc-color;
                }
            }

            .item-text {
                width: 128px;
                margin-right: 10px;
                color: $text-color;
            }
            .item-input {
                flex: 1;
                display: flex;

                &.item-input-option {
                    flex-wrap: wrap;
                }
                .input-placeholder {
                    color: $desc-color;
                }
                .input-whole {
                    width: 100%;
                    padding-top: 4px;
                }
                .input-apart {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    Input {
                        flex: 1;
                        text-align: center;
                    }
                }
                .input-option {
                    padding: 4px 10px;
                    margin: 0 10px 10px 0;
                    border: 2px solid $bg2-color;
                    border-radius: $border-radius-base;
                    &.actived {
                        color: $white;
                        border-color: $primary-color;
                        background-color: $primary-color;
                    }
                }
                .input-radio-label {
                    margin-right: 30px;
                }
                .unit {
                    color: $text-color;
                }
            }
            .item-icon {
                color: $desc-color;
            }

            .item-desc {
                font-size: $font-24;
                color: $desc-color;
                background-color: $white;
            }
        }

        .sale-submit {
            padding: 30px;
        }
    }
}
