.house-manage {
    .house-content {
                
        .line-split {
            display: inline-block;
            width: 2px;
            height: 20px;
            margin: 0 20px;
            background-color: $bg2-color;
        }

        .house-list {
            &-item {
                position: relative;
                display: flex;
                padding: 36px 30px 100px 30px;
                border-bottom: $border;
                .item-image {
                    position: relative;
                    width: 228px;
                    height: 180px;
                    background-color: $bg-color;
                    .taro-image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-content {
                    flex: 1;
                    margin-left: 30px;
                    overflow: hidden;
                    margin-top: -6px;
                    .item-title {
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: $title-color;
                    }

                    .item-text {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        &.item-text-small {
                            font-size: $font-26;
                            color: $text-color;
                            margin: 10px 0;
                        }
                        &.item-text-middle {
                            font-size: $font-basic;
                            color: $text-color;
                            margin-top: 8px;
                        }
                        .item-city {
                            margin-right: 10px;
                            color: $title-color;
                        }
                    }
                }

                .item-action {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 80px;
                    display: flex;

                    .action-item {
                        margin-right: 30px;
                        .btn {
                            height: 50px;
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
        .empty-container-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40%;

            .empty-btn {
                width: 50%;
                height: 70px;
                line-height: 70px;
                margin-top: 20px;
            }
        }
    }
}
