@import "../../assets/styles/theme.scss";

.fc-tabbar {
    width: 100%;
    .fc-tabbar-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px 15px 80px;
    }

    .fc-tabbar-item {
        padding: 0 30px;

        .fc-tabbar-icon {
            position: relative;
            top: 15px;
        }
        .fc-tabbar-name {
            font-size: 24px;
        }
    }

    .fc-tabbar-item.actived {
        color: $primary-color;
    }
}

.fc-tabbar-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid $border-color;
}
