.popup {
    &-btn {
        text-align: center;
        &-text {
            font-size: $font-basic;
        }
    }
    &-wrap {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        .popup-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: 998;
            opacity: 1;
        }

        .popup-cont {
            text-align: left;
            padding: 30px 40px 50px 40px;

            .popup-header {
                position: relative;
                margin-bottom: 20px;

                .popup-title {
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 38px;
                    font-weight: bold;
                    color: $primary-color;
                }

                .popup-sub-title {
                    font-size: $font-basic;
                    margin-top: 20px;
                    color: $desc-color;
                }

                .popup-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 36px;
                    color: $desc-color;
                }
            }

            .popup-desc {
                line-height: 32px;
                margin-bottom: 20px;
                font-size: $font-basic;
                color: $text-color;
            }

            .popup-form {
                .form-item {
                    display: flex;
                    position: relative;
                    height: 80px;
                    line-height: 80px;
                    font-size: $font-basic;
                    margin-bottom: 30px;
                    background-color: $bg-color;
                    &-input {
                        flex: 1;
                        height: 100%;
                        padding-left: 30px;
                        color: $text-color;
                    }

                    .btn-code {
                        padding-right: 20px;
                        color: $desc-color;
        
                        &.actived {
                            color: $primary-color;
                        }
                    }
                }

                .form-btn {
                    display: block;
                    height: 80px;
                    line-height: 80px;
                    font-size: $font-32;
                    text-align: center;
                    border-radius: 5px;
                    color: $white;
                    background-color: $primary-color;

                    &.disabled {
                        background-color: $dis-color;
                    }
                }
            }
        }

        .popup-mask {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            bottom: 0;
            transition: 0.3s;
            &.popup-show {
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 997;
            }
        }
    }
}
