$primary-color: #11a43c;
$desc-color: #999;
$title-color: #333;
$text-color: #666;
$bg-color: #f7f7f7;
$dis-color: #e6e6e6;
$white: #fff;
$black: #000;

$border: 1px solid #eee;
$border-color: #eee;
