$primary-color: #11a43c;
$desc-color: #999;
$title-color: #333;
$text-color: #666;
$bg-color: #f7f7f7;
$bg2-color: #f2f2f2;
$dis-color: #e6e6e6;
$white: #fff;
$black: #000;
$sale-1: #409DFB;
$sale-2: #f90;
$sale-3: #BBB;
$search-actived: #f60;

$border: 1px solid #eee;
$border-color: #eee;

$font-24: 24px;
$font-26: 26px;
$font-basic: 28px;
$font-30: 30px;
$font-32: 32px;
$font-36: 36px;
