
.index {
    text-align: center;
}

.index-search {
    &-content {
        height: 80px;
        line-height: 80px;
        margin: 30px 40px;
        padding: 0 20px;
        border-radius: 5px;
        background-color: #DDE6F7;
        .iconfont {
            float: left;
        }
        &-desc {
            float: left;
            width: 80%;
            height: 80px;
            line-height: 80px;
            text-align: left;
            padding-left: 20px;
            color: #999;
        }
    }
}