.consultant {
    &-content {
        .consultant-header {
            padding: 30px;
            color: $title-color;
        }
        .consultant-item {
            display: flex;
            font-size: $font-basic;
            padding: 20px 30px;
            background-color: $white;
            border-bottom: $border;

            .item-label {
                width: 128px;
                margin-right: 20px;
                color: $text-color;
            }
            .item-input {
                flex: 1;
                display: flex;
                .input-text {
                    color: $text-color;
                }
                .status {
                    color: $search-actived;
                }
            }
            .item-icon {
                color: $desc-color;
            }

            .item-image {
                width: 220px;
                margin-right: 16px;
                .taro-image {
                    width: 220px;
                    height: 220px;
                    background-color: $bg-color;
                }
                .image-label {
                    margin-top: 20px;
                    text-align: center;
                    color: $text-color;
                }
            }
        }
        .consultant-action {
            padding: 40px 30px;
            text-align: center;
        }
    }
}
