.comment-form {
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    font-size: $font-basic;
    .comment-wrapper {
        padding: 30px;
        .comment-title {
            color: $text-color;
        }

        .comment-input {
            position: relative;
            background-color: $white;
            padding: 20px;
            margin: 30px 0;
            border-radius: $border-radius-10;
            &-text {
                width: 100%;
            }

            &-image {
                .image-wrapper {
                    position: relative;
                    width: 180px;
                    height: 160px;
                    margin: 30px 0;

                    .image-show {
                        width: 100%;
                        height: 100%;
                        background-color: $bg-color;
                        overflow: hidden;
                        Image {
                            width: 100%;
                        }

                        .iconfont {
                            position: absolute;
                            top: -10px;
                            right: -16px;
                            width: 40px;
                            height: 40px;
                            color: $title-color;
                        }
                    }
                }

                .upload-btn {
                    width: 180px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    border: 2px solid $primary-color;
                    border-radius: $border-radius-10;
                    color: $primary-color;
                }
            }

            .comment-input-count {
                position: absolute;
                bottom: 30px;
                right: 30px;
                color: $text-color;
            }
        }
    }
}
