.house-list {
    &-li {
        display: flex;
        padding: 36px 30px;
        border-bottom: $border;
        .li-image {
            width: 228px;
            height: 180px;
            background-color: $bg-color;
            Image {
                width: 100%;
                height: 100%;
            }
        }
        .li-text {
            flex: 1;
            margin-left: 30px;
            white-space: nowrap;
            overflow: hidden;
            margin-top: -6px;
            .text-item {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &.row2 {
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                &.text-item-small {
                    font-size: $font-26;
                    color: $text-color;
                    margin: 12px 0;
                }
            }
            .title {
                font-weight: bold;
                color: $title-color;
            }

            .price {
                font-size: $font-32;
            }

            .price-unit {
                font-size: $font-basic;
            }

            .mb8 {
                margin-bottom: 8px;
            }
            
            .ml20 {
                margin-left: 20px;
            }

            .line-split {
                display: inline-block;
                width: 2px;
                height: 20px;
                margin: 0 10px;
                background-color: #f2f2f2;
            }
        }
    }
}

// 房源标签

.tags {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    &-item {
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $border-color;
        color: $desc-color;
    }
    &-item.sale-status-1 {
        color: $white;
        background-color: $sale-1;
    }
    &-item.sale-status-2 {
        color: $white;
        background-color: $sale-2;
    }
    &-item.sale-status-3 {
        color: $white;
        background-color: $sale-3;
    }
}

// 价格
.price {
    font-size: 36px;
    font-weight: bold;
    color: $tip-color;
}

.price-unit {
    font-size: 30px;
    color: $tip-color;
}

// 销售状态
.sale-status-1 {
    background-color: $sale-1;

    .triangle-down {
        border-color: $sale-1 transparent transparent;
    }
}

.sale-status-2 {
    background-color: $sale-2;

    .triangle-down {
        border-color: $sale-2 transparent transparent;
    }
}

.sale-status-3 {
    background-color: $sale-3;

    .triangle-down {
        border-color: $sale-3 transparent transparent;
    }
}
