.search-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    line-height: 90px;
    font-size: $font-basic;
    border-bottom: $border;
    background-color: $white;
    z-index: 99;
    &-item {
        flex: 1;
        text-align: center;

        &.actived {
            color: $primary-color;

            .iconfont {
                color: $primary-color;
            }
        }

        .text {
            display: inline-block;
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }

        .iconfont {
            margin-left: 10px;
            vertical-align: middle;
            font-size: 18px;
        }
    }
}

.search-container {
    position: absolute;
    width: 100%;
    max-height: 50vh;
    z-index: -10;
    background-color: $white;
    font-size: $font-basic;
    transform: translateY(-100%);
    transition: 0.2s;
    &.actived {
        transform: translateY(0);
    }
    .search-content-scroll {
        margin-bottom: 120px;
    }
    .search-content {
        .search-split {
            display: flex;

            .flex-item {
                flex: 1;
                border-right: $border;
            }
            .flex-item:last-child {
                border-right: 0;
            }
            .split-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 78px;
                line-height: 80px;
                padding-left: 30px;
                border-bottom: $border;
                .iconfont {
                    padding-right: 20px;
                    color: $desc-color;
                }
                &.actived {
                    color: $primary-color;
                    background-color: $bg-color;
                    .iconfont {
                        color: $primary-color;
                    }
                }
            }
        }

        .search-multi-item {
            padding: 16px 24px;
            .title {
                font-size: 30px;
                color: $title-color;
                padding: 10px;
            }

            .options {
                display: flex;
                flex-wrap: wrap;

                &-item {
                    width: 19.5%;
                    margin: 8px;
                    text-align: center;
                    font-size: 24px;
                    padding: 14px 10px;
                    border: 0.5px solid $bg2-color;
                    border-radius: 6px;
                    background-color: $bg2-color;
                    color: $text-color;

                    &:nth-child(4n) {
                        margin-right: 0;
                    }

                    &.actived {
                        color: $primary-color;
                        border-color: $primary-color;
                        background-color: $white;
                    }
                }
            }
        }
    }

    .search-footer {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        background-color: #fff;
        border-top: $border;
        .btn {
            width: 40%;
            line-height: 80px;
            text-align: center;
            border-radius: 6px;

            &.reset-btn {
                color: $text-color;
                background-color: $bg-color;
            }

            &.confirm-btn {
                color: $white;
                background-color: $primary-color;
            }

            &.single-btn {
                width: 25%;
            }
        }
        .search-input {
            width: 25%;
            height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: $bg-color;
        }
    }
}

.search-multi-container {
    max-height: 60vh;
}

.search-tag {
    width: 100%;
    white-space: nowrap;
    background-color: $white;
    font-size: $font-basic;
    padding: 30px;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        color: transparent;
    }
    &-item {
        display: inline-block;
        border: 2px solid $bge-color;
        background-color: $bge-color;
        padding: 6px 20px;
        border-radius: $border-radius-base;
        margin-right: 30px;
        &.actived {
            color: $primary-color;
            border-color: $primary-color;
            background-color: $white;
        }
        .iconcoupon {
            padding-right: 10px;
            color: $primary-color;
        }
    }
}
