.user {
    height: 100vh;
    background-color: $bg-color;
    padding-top: 20px;
    box-sizing: border-box;
    &-header {
        display: flex;
        padding: 40px 30px;

        .login-photo {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $bg-color;

            &-image {
                width: 100%;
                height: 100%;
            }
        }
        .login-text {
            flex: 1;
            line-height: 120px;
            margin-left: 30px;
            font-size: $font-32;
            font-weight: bold;
            color: $title-color;
        }

        .login-nav {
            line-height: 120px;
        }

        .iconfont {
            color: $desc-color;
        }
    }
    &-group {
        margin-bottom: 20px;
        .user-item {
            display: flex;
            align-items: center;
            margin: 0 20px;
            padding: 20px 30px;
            background-color: $white;
            .item-arrow {
                .iconfont {
                    font-size: $font-basic;
                    color: $desc-color;
                }
            }
            .item-text {
                flex: 1;
                font-size: $font-basic;
                margin: 0 20px;
            }
        }

        .user-item-btn {
            position: static;
            text-align: left;
            line-height: 1;
            border-radius: 0;
        }
    }
    &-logout {
        height: 80px;
        line-height: 80px;
        margin: 20px;
        text-align: center;
        font-size: $font-basic;
        color: $text-color;
        background-color: $white;
    }
}
