.user {
    height: 100vh;
    background-color: $bg-color;
    &-item {
        margin: 20px;
        font-size: $font-basic;
        background-color: $white;
    }
    &-header {
        display: flex;
        padding: 40px 30px;

        .login-photo {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $bg-color;

            &-image {
                width: 100%;
                height: 100%;
            }
        }
        .login-text {
            flex: 1;
            line-height: 120px;
            margin-left: 30px;
            font-size: $font-32;
            font-weight: bold;
            color: $title-color;
        }

        .login-nav {
            line-height: 120px;
        }

        .iconfont {
            color: $desc-color;
        }
    }
    &-logout {
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: $text-color;
    }
}
