.community-header {
    display: flex;
    height: 70px;
    line-height: 70px;
    padding-top: 20px;
    font-size: $font-basic;
    background-color: $white;
    z-index: 100;

    .community-search {
        flex: 1;
        border-radius: 5px;
        padding: 0 20px;
        background-color: $bg-color;

        .community-search-text {
            padding-left: 20px;
            &.placeholder {
                color: $desc-color;
            }
        }
    }
}

.community-content {
    padding-top: 181px;
}
