// 销售状态
.sale-status-1 {
    background-color: $sale-1;

    .triangle-down {
        border-color: $sale-1 transparent transparent;
    }
}

.sale-status-2 {
    background-color: $sale-2;

    .triangle-down {
        border-color: $sale-2 transparent transparent;
    }
}

.sale-status-3 {
    background-color: $sale-3;

    .triangle-down {
        border-color: $sale-3 transparent transparent;
    }
}
