.sand {
    .sand-content {
        .sand-info {
            &-header {
                width: 100%;
                white-space: nowrap;
                height: 70px;
                line-height: 70px;
                border-bottom: 4px solid $primary-color;
                background-color: $bg-color;

                .sand-list {
                    .sand-item {
                        display: inline-block;
                        text-align: center;
                        width: 20%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &.actived {
                            background-color: $primary-color;
                            color: $white;
                        }
                    }
                }
            }

            &-detail {
                &-content {
                    display: flex;
                    flex-wrap: wrap;
                    .detail-item {
                        width: 50%;
                        padding: 20px 10px;
                        box-sizing: border-box;
                        font-size: $font-basic;
                        color: $text-color;

                        .label {
                            margin-right: 10px;
                            color: $desc-color;
                        }
                    }
                }

                &-room {
                    .room-header {
                        height: 60px;
                        line-height: 60px;
                        border-left: 6px solid $primary-color;
                        background-color: $bg-color;

                        .title {
                            margin-left: 20px;
                        }
                    }

                    .room-list {
                        .room-item {
                            padding: 20px 0;
                            font-size: $font-26;
                            border-bottom: $border;
                            .item-text {
                                display: inline-block;
                                width: 30%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding-left: 30px;
                                box-sizing: border-box;
                                color: $text-color;
                            }
                            .item-btn {
                                display: inline-block;
                                width: 10%;
                                color: $tip-color;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }
}
