.house-news {
    .news-item {
        padding: 30px;
        border-bottom: 1px solid $bg-color;
        .header {
            margin-bottom: 16px;
            line-height: 50px;
            .tag {
                font-size: $font-26;
                padding: 8px 16px;
                margin-right: 16px;
                border: 1px solid $primary-color;
                color: $primary-color;
            }
            .title {
                font-size: $font-32;
            }
        }
        .sub-title {
            font-size: $font-basic;
            margin-bottom: 16px;
            color: $text-color;
        }
        .publish {
            display: flex;
            .date {
                margin-left: 16px;
            }
        }
    }
}
