@import "./styles/common/popup.scss";
@import "./assets/fonts/iconfont.css";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}

.view-content {
  padding: 0 30px;
  background-color: #fff;
}

.auto-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 36px;
  font-weight: bold;
  color: #f34;
}

.price-unit {
  font-size: 30px;
  color: #f34;
}

.small-desc {
  color: $desc-color;
  font-size: $font-26;
}

.mt20 {
  margin-top: 20px;
}

.tags {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  &-item {
      margin-right: 20px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #eee;
      color: #999;
  }
  &-item.sale-status-1 {
      color: #fff;
      background-color: $sale-1;
  }
}


.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
  &.show {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 90;
  }
}