@import "./styles/common/popup.scss";
@import "./assets/fonts/iconfont.css";

page {
  font-size: $font-32;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}

.view-content {
  padding: 0 30px;
  background-color: $white;
}

.auto-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 98;
}

.price {
  font-size: 36px;
  font-weight: bold;
  color: #f34;
}

.price-unit {
  font-size: 30px;
  color: #f34;
}

.small-desc {
  color: $desc-color;
  font-size: $font-26;
}

.mt20 {
  margin-top: 20px;
}

.tags {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  &-item {
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $border-color;
    color: $desc-color;
  }
  &-item.sale-status-1 {
    color: $white;
    background-color: $sale-1;
  }
  &-item.sale-status-2 {
    color: $white;
    background-color: $sale-2;
  }
  &-item.sale-status-3 {
    color: $white;
    background-color: $sale-3;
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
  &.show {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 90;
  }
}

.empty-container {
  text-align: center;
  color: $desc-color;
  font-size: $font-basic;
  padding: 30px 0;
}

.btn {
  display: block;
  line-height: 80px;
  text-align: center;
  font-size: $font-basic;
  border-radius: $border-radius-10;
  border: $border;
  &-blue {
    color: #8099af;
    background-color: $bg-color;
  }

  &-yellow {
    color: $white;
    background-color: $sale-2;
  }

  &-primary {
    color: $white;
    background-color: $primary-color;
  }

  &-plain {
    color: $primary-color;
    border-color: $primary-color;
    background-color: $white;
  }

  &-disabled {
    color: $desc-color;
    background-color: $bg2-color;
  }
}

.ovalbtn {
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  font-size: $font-basic;

  &::after {
    border: 0;
  }

  &-pink {
    color: $pink;
    background-color: $white;
  }
  &-brown {
    color: rgb(131, 80, 55);
  }
}

.cut-line {
  border-bottom: 1px solid $line-color;
  clear: both;
}
